
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout">
<head>
<meta charset="UTF-8"/>
<title>Celebrite</title>
</head>
<body background="${../static/css/ls.jpg}">
<div layout:fragment="content1">
<div class="container"></div>
   <div class="panel panel-primary"></div>
   <div class="panel-heading">Liste des celebrites</div>
<div class="panel-body">
<form th:action="@{/index2}" method="get">
<label>Mot clé:</label>
<input type="text" name="motCle" th:value="${motCle}"/>
<button type="submit" class="btn btn-primary">Chercher</button>
</form>
</div>
<div class="panel-body"></div>
<table class="table">
<thead>
<tr>
<th>nom</th><th>prenom</th><th>nationalite</th><th>epoque</th>
<tr/>
</thead>
<tbody>
<tr th:each="c:${listCelebrites}">

<td th:text="${c.nom}"></td>
<td th:text="${c.prenom}"></td>
<td th:text="${c.nationalite}"></td>
<td th:text="${c.epoque}"></td>
<td>
<a onclick="return confirm('Voulez vous vraiment Suprimer?')" 
th:href="@{/delete2(id=${c.numCelebrite}, page=${currentPage})}">Supprimer</a>
</td>
<td>
<a th:href="@{/editCelebrite(id=${c.numCelebrite})}"/>Modifier</a>
</td>
<tr/>
</tbody>
</table>
<ul class="nav nav-pills">
<li th:class="${currentPage==status.index}?'active':''" th:each="page, status:${pages}">
<a th:href="@{index2(page=${status.index})}" th:text="${status.index}"></a>
<li/>
</ul>
</div>

</body>
</html>







<!--  <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8"/>
<title>Celebrite</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
th:href="@{css/bootstrap.min.css}"
/>
</head>
<body>
<h2>test</h2>
<table class="table">
<thead>
<tr>
<th>NumCelebrite</th><th>nom</th><th>prenom</th><th>nationalite</th><th>epoque</th>
</tr>
</thead>
<tbody>
<tr th:each="c:${listCelebrites}">
<td th:text="${c.numCelebrite}"></td>
<td th:text="${c.nom}"></td>
<td th:text="${c.prenom}"></td>
<td th:text="${c.nationalite}"></td>
<td th:text="${c.epoque}"></td>
</tr>
</tbody>
</table>
</body>
</html>

-->