<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout">
<head>
<meta charset="utf-8"/>
<title>Modiier les données d'une celebrite</title>
</head>
<body>
<div layout:fragment="content1">
<div class="col-md-4">
<div class="panel panel-default">
<div class="panel-heading">Vous allez modifier une celebrite</div>
<div class="panel-body">

<form th:action="@{/saveCelebrite}" method="post"/>
<div class="form-group">
<label class="control-label">Numero celebrite</label>
<label th:text="${celebrite.numCelebrite}"></label>
<input class="form-control" type="hidden" name="numCelebrite"
 th:value="${celebrite.numCelebrite}"/>


</div>
<div class="form-group">
<label class="control-label">Nom</label>
<input class="form-control" type="text" name="nom" th:value="${celebrite.nom}"/>
</div>
<div class="form-group">
<label class="control-label">prenom</label>
<input class="form-control" type="text" name="prenom"th:value="${celebrite.prenom}"/>
</div>
<div class="form-group">
<label class="control-label">nationalite</label>
<input class="form-control" type="text" name="nationalite" th:value="${celebrite.nationalite}"/>
</div>
<div class="form-group">
<label class="control-label">epoque</label>
<input class="form-control" type="text" name="epoque" th:value="${celebrite.epoque}"/>
</div>
<button type="submit" class="btn btn-primary">Enregistrer</button>
</form>
</div>
</div>

</div>

</div>
</body>
</html>