<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout">
<head>
<meta charset="utf-8"/>
<title>Ajouter un monument</title>
</head>
<body>
<div layout:fragment="content1">
<div class="col-md-4">
<div class="panel panel-default">
<div class="panel-heading">Vous allez modifier un Monument</div>
<div class="panel-body">

<form th:action="@{/save}" method="post"/>
<div class="form-group">
<label class="control-label">Id</label>
<label th:text="${monument.id}"></label>
<input class="form-control" type="hidden" name="id"
 th:value="${monument.id}"/>

</div>
<div class="form-group">
<label class="control-label">CodeM</label>
<input class="form-control" type="text" name="codeM" th:value="${monument.codeM}"/>
 <span th:errors="${monument.codeM}"></span>

</div>
<div class="form-group">
<label class="control-label">Nom Monument</label>
<input class="form-control" type="text" name="nomM" th:value="${monument.nomM}"/>
</div>
<div class="form-group">
<label class="control-label">proprietaire</label>
<input class="form-control" type="text" name="proprietaire"th:value="${monument.proprietaire}"/>
</div>
<div class="form-group">
<label class="control-label">type Monument</label>
<input class="form-control" type="text" name="typeMonument" th:value="${monument.typeMonument}"/>
</div>
<div class="form-group">
<label class="control-label">longitude</label>
<input class="form-control" type="text" name="longitude" th:value="${monument.longitude}"/>
</div>
<div class="form-group">
<label class="control-label">latitude</label>
<input class="form-control" type="text" name="latitude" th:value="${monument.latitude}"/>
</div>
<button type="submit" class="btn btn-primary">Enregistrer</button>
</form>
</div>
</div>

</div>

</div>
</body>
</html>