<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout">
<head>
<meta charset="utf-8"/>
<title>Ajouter un lieu</title>
</head>
<body>
<div layout:fragment="content1">
<div class="col-md-4">
<div class="panel panel-default">
<div class="panel-heading">Vous allez ajoutez une lieu</div>
<div class="panel-body">

<form th:action="@{/saveLieu}" method="post"/>
<div class="form-group">
<label class="control-label">Id</label>
<label th:text="${lieu.id}"></label>
<input class="form-control" type="hidden" name="id"
 th:value="${lieu.id}"/>


</div>
<div class="form-group">
<label class="control-label">Code insee</label>
<input class="form-control" type="text" name="codeInsee" th:value="${lieu.codeInsee}"/>
</div>
<div class="form-group">
<label class="control-label">Nom commune</label>
<input class="form-control" type="text" name="nomCom"th:value="${lieu.nomCom}"/>
</div>
<div class="form-group">
<label class="control-label">longitude</label>
<input class="form-control" type="text" name="longitude" th:value="${lieu.longitude}"/>
</div>
<div class="form-group">
<label class="control-label">latitude</label>
<input class="form-control" type="text" name="latitude" th:value="${lieu.latitude}"/>
</div>
<button type="submit" class="btn btn-primary">Enregistrer</button>
</form>
</div>
</div>

</div>

</div>
</body>
</html>