<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

<meta charset="UTF-8"/>
<title>Layout</title>
<link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css"
th:href="@{css/bootstrap.min.css}"/>
<link rel="stylesheet" th:href="@{css/style.css}"/>

</head>

<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
    <li class="nav-item active">
    
      <a class="navbar-brand" th:href="@{/index}">Monuments</a>
      <a class="navbar-brand" th:href="@{/index2}">Celebrites</a>
      <a class="navbar-brand" th:href="@{/indexLieu}">Lieux</a>
   </li>
    
    
    <li class="nav-item dropdown">
 
     <div>
      <a th:href="#{/formMonument}">Acceuil</a>
      <a   th:href="#{/formMonument}">Ajouter un monument</a>
      <a  th:href="#{/FormCelebrite}">Ajouter une celebrite</a>
      <a   th:href="#{/FormLieu}">Ajouter un lieu</a>
      <a  th:href="#{/login?logout}" th:inline="text">Se déconnecte</a>   
      
    </div>
     </li>
    </ul>
    </div>
  
</nav>
<section layout:fragment="content1">
</section>

</body>


<footer>
<div>
<p>&copy; 2020 FTRAORE<p>
</div>
</footer>


</html>