
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout">
<head>
<meta charset="UTF-8"/>
<title>Lieu</title>
</head>
<body background="${../static/css/ls.jpg}">
<div layout:fragment="content1">
<div class="container"></div>
   <div class="panel panel-primary"></div>
   <div class="panel-heading">Liste des Lieux</div>
<div class="panel-body">
<form th:action="@{/indexLieu}" method="get">
<label>Mot clé:</label>
<input type="text" name="motCle" th:value="${motCle}"/>
<button type="submit" class="btn btn-primary">Chercher</button>
</form>
</div>

<table class="table">
<thead>
<tr>
<th>code insee</th><th>nom de la commune</th><th>Longitude</th><th>Latittude</th>
<tr/>
</thead>
<tbody>
<tr th:each=l:${listLieux}>
<td th:text="${l.codeInsee}"></td>
<td th:text="${l.nomCom}"></td>
<td th:text="${l.longitude}"></td>
<td th:text="${l.latitude}"></td>
<td>
<a onclick="return confirm('Voulez vous vraiment Suprimer?')" 
th:href="@{/deleteLieu(id=${l.id}, page=${currentPage})}">Supprimer</a>
</td>
<td>
<a th:href="@{/editLieu(id=${l.id})}">Modifier</a>
</td>
<tr/>
</tbody>
</table>
<ul class="nav nav-pills">
<li th:class="${currentPage==status.index}?'active':''" th:each="page, status:${pages}">
<a th:href="@{indexLieu(page=${status.index})}" th:text="${status.index}"></a>
<li/>
</ul>
</div>

</body>
</html>







<