<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="layout">
<head>
<meta charset="UTF-8"/>
<title>Monuments</title>
</head>
<body >

<div layout:fragment="content1">
<div class="container"></div>
   <div class="panel panel-primary"></div>
   <div class="panel-heading">Liste des Monuments</div>
<div class="panel-body">
<form th:action="@{/index}" method="get">
<label>Mot clé:</label>
<input type="text" name="motCle" th:value="${motCle}"/>
<button type="submit" class="btn btn-primary">Chercher</button>
</form>
</div>
<div class="panel-body"></div>
<table class="table">
<thead>
<tr>
<th>codeM<th>Nom<th>proprietaire<th>type<th>longitude<th>latitude<th/>
<tr/>
</thead>
<tbody>
<tr th:each=m:${listMonuments}>
<td th:text="${m.codeM}"></td>
<td th:text="${m.nomM}"></td>
<td th:text="${m.proprietaire}"></td>
<td th:text="${m.typeMonument}"></td>
<td th:text="${m.longitude}"></td>
<td th:text="${m.latitude}"></td>
<td>
<a onclick="return confirm('Voulez vous vraiment Suprimer?')" 
th:href="@{/delete(id=${m.Id}, page=${currentPage})}">Supprimer</a>
</td>
<td>
<a th:href="@{/edit(id=${m.Id})}">Modifier</a>
</td>
<tr/>
</tbody>
</table>
<ul class="nav nav-pills">
<li th:class="${currentPage==status.index}?'active':''" th:each="page, status:${pages}">
<a th:href="@{index(page=${status.index})}" th:text="${status.index}"></a>
<li/>
</ul>
</div>

</body>
</html>